<!doctype html>
<html>
	<head>
		<title>
			The epic programmer quiz
		</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
			<h1 class="text-center">The epic programmer quiz</h1>
			</div>
			<p class="lead text-center">Why do Java programmers need glasses?</p>

		    <div class="row quiz-panel">
		     	<div class="col-md-12">
		     		<div>
		     			<img src="/static/res/question-1.gif" class="quiz-picture">
		        		<div class="quiz-text">
							<form>
								<div class="radio">
							    	<label><input type="radio">Because they don’t C#</label>
							    </div>
							    <div class="radio">
							    	<label><input type="radio">Because they don’t C++</label>
							  	</div>
							</form>
						</div>
						<a href="results.html" class="btn btn-default" title="Starta quizet">Next question »</a>
						<!--<button type="submit" class="btn btn-default">Next question »</button>-->
					</div>
				</div>
		    </div>
		</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>