body {
    background:#00ffcc;
    background-image: url("res/bg.png");
}
.container {
    background: #fff;
    padding:0 40px 30px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height:92vh;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;

}
h2 {
    font-size: 20px;
}
.lead {
    margin-bottom: 10px;
}
.btn {
    padding:12px 24px;
}
.start-panel {
    padding: 10px 60px 0 60px;
    text-align: center;
}
.start-panel > div{
    padding: 15px 20px 30px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.start-panel > div:hover {
    margin-top: -5px;
    border: 1px solid rgb(200, 200, 200);
    background: rgba(200, 200, 200, 0.1);
    transition: 0.3s;
}
.start-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.start-description {
    margin: 10px 0 20px 0;
}
.quiz-panel {
    text-align: center;
    padding: 10px;
}
.col-md-12 img {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    max-width: 422px;
}
.quiz-text {
    margin:10px 0 20px 0;
}
div.quiz-form {
    display: inline-block;
    text-align:left;
}